/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Azeret Mono' sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
section {
  max-width: 998px;
  margin: 0 auto;
}
.primary-btn {
  border-radius: 8px;
  background: rgba(13, 19, 33, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 600;
  padding: 18px 24px;
  border: none;
  margin-top: 32px;
}
.description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 22px;
}
/* banner section style */
header {
  background-image: url(assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
.banner-txt-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.banner-title {
  color: #0d1321;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
}
