@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* shared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Azeret Mono' sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
section {
  /* max-width: 998px; */
  max-width: 80%;
  margin: 0 auto;
  margin-top: 110px;
}
.primary-btn {
  border-radius: 8px;
  background: rgba(13, 19, 33, 1);
  font-weight: 600;
  padding: 18px 24px;
  border: none;
  margin-top: 32px;
}
.description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 22px;
  text-align: center;
}
/* banner section style */
header {
  background-image: url(assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
.banner-txt-container {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.banner-title {
  color: #0d1321;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
}
.banner-container a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
/* web development section style */
.web-development {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.development-container {
  padding: 80px 97px;
}
.web-title {
  color: rgba(13, 19, 33, 1);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 100%
  );
  padding: 48px;
  margin-top: 46px;
  gap: 20px;
}
.card-title {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}
.card-description {
  color: rgba(13, 19, 33, 1);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin: 16px 0px;
}
.card-btn {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 1);
  opacity: 0.7;
  padding: 12px 22px;
  color: rgba(13, 19, 33, 0.1);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.card-container a {
  text-decoration: none;
}
.card-img {
  width: 40%;
}
